* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
}


.cabecalho {
  grid-column: 2/3;
  color: white;
  height: 30px;
}

.grid-container {
  background-color: #a5c926;
  height: 30px;
}


.informacoes p {
  font-size: 12px;
  float: left;
  padding: 7px;
  display: inline;
}

.redes-sociais li {
  float: right;
  display: inline;
  list-style: none;
}

.color {
  grid-column: 1/5;
  background-color: greenyellow;
}

.redes-sociais i {
  padding: 8px;
  color: white;
}

.grid-menu {
  grid-column: 2/3;
}

.menu-principal {
  width: 100%;
  height: 50px;
}

.logo {
  margin-right: 45px;
}

.lista {
  list-style: none;
  margin-top: 20px;
}

.lista li {
  display: inline;
}

.lista h1 {
  margin-right: 30px;
  display: inline;
}

.lista button {
  float: right;
}

.carrinho i {
  font-size: 19px;
  margin-left: 12px;
}

.carrinho {
  border: none;
  background: none;
}

.lista a {
  text-decoration: none;
  color: black;
  padding: 18px;

}

.lista a:hover {
  text-decoration: underline;

}

.botao-carrinho {
  float: right;
  display: flex;
}

.botao-carrinho a {
  padding: 12px;
}

.imagem-fundo {
  grid-column: 1/4;
  position: relative;
  width: 100%;
  height: 650px;
}

.imagem {
  width: 100%;
  height: 650px;
  background-image: url(img/principal.png);
  background-repeat: no-repeat;
}


.centro {
  width: 500px;
  height: 250px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .10)
}

.centro p,
h1 {
  text-align: center;
  align-items: center;
  padding: 5px;
}

.centro p {
  font-size: 15px;
  color: #a5c926;
  margin-top: 40px;
}

.centro h1 {
  font-size: 35px;
}

.centro button {
  background-color: #a5c926;
  color: white;
  border: none;
  width: 125px;
  height: 40px;
  border-radius: 30px;
  position: absolute;
  top: 70%;
  left: 40%;
  cursor: pointer;
  transition: 0.7s;
}

.centro button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .10);

}

.animal-toys {
  grid-column: 1/4;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
}

.animal-toys button {
  transition: 0.5s;
}

.animal-toys button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .10);

}

@media screen and (max-width: 1120px) {
  .animal-toys {
    flex-direction: column;
    justify-content: space-around;
  }

  .animals {
    margin-top: 40px;
    margin-left: 15px;
  }

  .toys {
    margin-bottom: 40px;
    margin-right: 15px;
  }

  .animals button {
    right: 50px;
  }

  .toys h2 {}

}



.animal-toys button {
  border: none;
  background-color: white;
  width: 100px;
  height: 35px;
  border-radius: 30px;
}

.animals h2 {
  position: absolute;
  top: 30px;
  left: 180px;
}

.animals button {
  position: absolute;
  bottom: 40px;
  right: 150px;
  cursor: pointer;
}

.toys button {
  position: absolute;
  bottom: 40px;
  left: 150px;
  cursor: pointer;
}

.toys h2 {
  position: absolute;
  top: 30px;
  right: 190px;
}

.animals {
  background-color: #ffc12c;
  width: 30%;
  height: 150px;
  border-radius: 15px;
  margin-right: 15px;
  position: relative;
}

.toys {
  background-color: #fb416b;
  width: 30%;
  height: 150px;
  border-radius: 15px;
  position: relative;
  margin-left: 15px;
}

.animals img {
  width: 40%;
  position: absolute;
  bottom: 10px;
  left: -23px;
}

.toys img {
  width: 40%;
  position: absolute;
  bottom: 10px;
  right: -23px;
}

.stuffed-animals {
  grid-column: 2/3;
  height: 470px;
}

.stuffed-animals h1 {
  float: left;
}

.stuffed-animals button {
  float: right;
}

.bixinhos {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;

}

.linha {
  width: 100%;
  height: 70px;
  border-bottom: 2px solid rgba(0, 0, 0, .10);
}

.bixinhos a {
  width: 20%;
  height: 270px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, .10);
  text-decoration: none;
  transition: 0.5s;
}

.bixinhos a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .10);
}

.bixinhos p {
  background-color: #a5c926;
  width: 80px;
  padding: 5px;
  color: white;
  font-size: 11px;
  border-radius: 15px;
  margin: 0 auto;
}

.price p {
  margin-top: 10px;
  text-align: center;
}

.bixinhos h6 {
  font-size: 16px;
  color: black;

}

.bixinhos img {
  width: 155px;
  height: 188px;
}

.stuffed-animals button {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, .10);
  background: none;
  cursor: pointer;
  transition: 0.5s;
  padding: 3px;
  margin-top: 10px;
}

.stuffed-animals button:hover {
  border-bottom: 2px solid #a5c926
}

.parallax {
  margin-top: 30px;
  height: 400px;
  grid-column: 1/4;
  background-image: url(img/rena.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  align-items: center;

}

.espaco {
  width: 100%;
  height: 8000px;
}

.content-parallax {
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content-parallax p,
h1 {
  padding: 8px;

}

.content-parallax button {
  margin-top: 20px;
  padding: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #a5c926;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.content-parallax button i {
  font-size: 22px;
  margin-left: 3px;
  margin-top: 0px;
}

.content-parallax button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .10);

}

.made {
  grid-column: 2/3;
  height: 280px;
  align-items: center;
}

.made h1,
h2 {
  text-align: center;

}

.made h1 {
  margin-top: 80px;
  font-size: 12px;
  color: #a5c926;
}

.made h2 {
  margin-top: 10px;
  font-size: 30px;

}

.available-imagem {
  grid-column: 2/3;
  height: 450px;
}

.available-text {
  float: left;
  width: 50%;

}

.available-text h1 {
  text-align: left;
  font-size: 28px;
  padding: 0;

}

.available-text p {
  font-size: 14px;
  color: darkgray;
  margin-top: 25px;
}

.available-imagem img {
  width: 50%;
  height: 350px;
  border-radius: 20px;
  filter: brightness(90%);
}

.available-text button {
  border: none;
  width: 120px;
  height: 40px;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  background-color: #a5c926;
  margin-top: 25px;
  transition: 0.7s;
  cursor: pointer;
}

.available-text button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .10);
}

.available-linha {
  border-bottom: 2px solid #a5c926;
  height: 20px;
  width: 80px;

}

.subscribe {
  grid-column: 2/3;
  height: 150px;
  background-color: white;
  border: 2px solid rgba(0, 0, 3px, .10);
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: space-around;


}

.sub-text h2 {
  margin-right: 90px;
}

.sub-email #email {
  width: 330px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, .10);
  background-color: #f8f8f8;

}

.sub-email #email:focus {
  border: 2px solid #a5c926;

}

.sub-email input:hover {
  background-color: white;
}



.sub-email button {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #a5c926;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.7s;
}

.sub-email button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .10);
}

.sub-email {
  margin-right: 32px;
}

.sub-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a5c926;
  margin-left: 35px;
}

.sub-icon i {
  padding: 14px;
  font-size: 20px;
  margin-right: 2px;
  margin-top: 2px;
}

.instagram {
  grid-column: 2/3;
  height: 250px;
  text-align: center;

}

.instagram h2 {
  padding: 15px;
  font-size: 12px;
  color: #a5c926;
  margin-top: 70px;
}

.instagram h3 {
  font-size: 30px;
}

.photos {
  grid-column: 2/3;
  display: flex;

  justify-content: space-around;

}

.photos img {
  width: 150px;
  border-radius: 15px;
}

.morephoto {
  grid-column: 2/3;
  height: 200px;
  display: flex;
  align-items: center;


}

.morephoto button {
  margin: 0 auto;
  height: 45px;
  width: 140px;
  background-color: #a5c926;
  border: none;
  color: white;
  border-radius: 30px;
  transition: 0.7s;
  cursor: pointer;
}

.morephoto button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .10);

}

.footer {
  grid-column: 1/4;
  height: 230px;
  background-color: #a5c926;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.menusec li {
  display: inline;
  padding: 15px;
}

.footer-social li {
  display: inline;
  padding: 5px;
}

.menusec a:hover {
  text-decoration: underline;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer-logo h4 {
  font-size: 23px;
  color: white;
}

.footer2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  font-size: 11px;
  position: absolute;
  bottom: -3280px;
  border-top: 1px solid white;

}

.footer2 li {
  display: inline;
}

.footer2 a {
  color: white;
  padding: 2px;
}

.powered {
  margin-top: 10px;
}

.footer2 ul {
  float: right;
  color: white;
}

.created {
  margin-top: 10px;
  color: white;
}